nav svg {
    width: 10px;
}

nav {
    width: 100%;
}

.filter {
    width: 100%;
}

.filter form {
    width: 100%;
}

.main {
    margin: 2rem;
    margin-top: 4rem;
}

.main h2 {
    margin-bottom: 10px;
}

.show_block button {
    background: none;
    border: none;
    width: 40px;
}

.show_block button img {
    width: 100%;
    height: 100%;
}

.filter_btn {
    width: 120px;
}

header {
    height: 55px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 2rem;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    left: 0;
    background-color: #fff;
}

header button {
    background: none;
    border: none;
    cursor: pointer;
    width: 40px;
}

header button img {
    width: 100%;
    height: 100%;
}

.ticket-statistics {
    display: flex;
    width: 12%;
    flex-direction: column;
}
.ticket-statistics p {
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
}

.ticket-statistics h5 {
    font-size: 16px;
}

.files {
    display: flex;
    gap: 15px;
    text-decoration: none;
    padding: 0;
}

.files li {
    display: flex;
    flex-direction: column;
}

.update_btn {
    border: none;
    width: 100px;
    height: 40px;
    background: #968bf1;
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
}

select {
    height: 38px;
    border-radius: 8px;
    background: none;
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    width: 150px;
    margin-right: 10px;
}

.back {
    text-decoration: none;
    background: #968bf1;
    padding: 10px;
    color: #fff;
    border-radius: 8px;
}

.mt_6 {
    margin-top: 5rem;
}
